:root{
    --primaryColor:#06C167;
    --bgColor:#F3FCF7;
    --blackishColor:#1D1D1F;
    --textColor:#1D1D1FBF;
    --whiteColor:#fff;
    --lightGreenColor: #E6F9F0;
    --borderColor:rgba(118, 118, 117, 0.25);
    --bgColor2:#F0F1EC;
}